<?xml version="1.0"?>
<configuration>
 
    <appSettings>
      <!--folder on Ax Data Exchange to send files-->


      <add key="WorkFolder" value="\\SRVW0913.lvmh-pc.lvmh\DataExchange\CN\MUFE\Academy\FTPTransfer\work" />
      <!--folder on Ax FTP Server for intermediate receiving files -->

      <add key="ArchiveFolder" value="\\SRVW0913.lvmh-pc.lvmh\DataExchange\CN\MUFE\Academy\FTPTransfer\archive" />
      <!--folder on Ax FTP Server to receive files -->

      <add key="AxImportFolder" value="\\SRVW0913.lvmh-pc.lvmh\DataExchange\CN\MUFE\Academy\FTPTransfer" />

      <!--  Set value to "true" for a test run -->
      <add key="TestRun" value="False" />
      <!--  Set value to "true" to log in event log -->
      <add key="EventLoggingOn" value="True" />
      <!--  Set value to "true" to log by email -->
      <add key="EmailLoggingOn" value="True" />
      <!--  FTP Site Setting -->
      <add key="FTP-Hostname" value="10.23.38.38" />
      <add key="FTP-Username" value="lvmh" />
      <add key="FTP-Password" value="zpRUaCNeV3" />
      <add key="FTP-Port" value="22068" />

      <!--folder on  FTP Server to collect files -->
      <!--<add key="FTP-CollectFolder" value="/home/diorftp/SRVW0930/DataExchange/CN/OMS/SO-OMS-ESS/Regular/"/>-->
      <add key="FTP-CollectFolder" value="/TO_AX/" />

      <!--  CC list for files in folders -->
      <add key="FolderCC" value="mdooley@lvmh-pc.com" />
      <!--set email engine-->
      <add key="EmailEngine" value="aspNetEmail" />
      <!--<add key="EmailEngine" value="Outlook" />-->
      <!--these settings are picked up automatically by the aspNetEmail application when method LoadFromConfig executed-->
      <add key="EmailMessage.FromAddress" value="mdooley@lvmh-pc.com"></add>
      <add key="EmailMessage.FromName" value="ESSENCE China MUFE FTP Monitor"></add>
      <add key="EmailMessage.Logging" value="true"></add>
      <add key="EmailMessage.LogPath" value="c:\aspNetEmail.log"></add>
      <!--smtp server-->
      <add key="smtpserver" value="smtp-pc01.lvmh-pc.lvmh"></add>
      <!--using outlook we need these settings set up manually-->
      <add key="FromAddress" value="mdooley@lvmh-pc.com" />
      <add key="FromName" value="ESSENCE China MUFE FTP Monitor" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <system.web>
      <membership defaultProvider="ClientAuthenticationMembershipProvider">
        <providers>
          <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
        </providers>
      </membership>
      <roleManager defaultProvider="ClientRoleProvider" enabled="true">
        <providers>
          <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
        </providers>
      </roleManager>
    </system.web>
  </configuration>
 